* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Arial', serif;
}

code, p {
  padding: 10px;
  margin: 10px;
  display: block;
}

code {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  white-space: pre;
}

#wrapper {
  width: 800px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  height: 100%;
}

h1, h2 {
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #e1e1e1;
}

