* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Arial', serif;
}

code, p {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px;
  display: block;
  width: 30%;
}

#wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding: 1em;
  height: 100%;
}

h1, h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #e1e1e1;
}

