* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Arial', serif;
  background-color: #f4f4f4;
}

code, p {
  padding: 10px;
  margin: 10px;
  display: block;
}

code {
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  white-space: pre;
}

#wrapper {
  width: 800px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  height: 100%;
  background-color: #fff;
}

h1, h2 {
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #e1e1e1;
}

#menu {
  float: left;
  margin-left: -7em;
  width: 5em;
  top: 3em;
  position: fixed;
  background-color: #458E0B;
  padding: 1em;
  padding-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#menu li {
  list-style-type: none;
}

#menu li a {
  text-decoration: none;
  display: block;
  color: #eee;
  padding-right: 1em;
}

#menu li a:hover {
  background-color: #347d0a;
}
